
h1 {
    font-family: sans-serif;
    font-size: 16pt;
    text-align: center;
}

#gui {
    display: flex;
    margin: 17px auto;
    width: 800px;
}

#contentbox {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#contentbox div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#laserhead {
    top: 0px;
    left: 100px;
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #e77;
}

#laserzone {
    top: 71px;
    left: 20px;
    width: 260px;
    height: 94px;
    font-size: 12px;
    color: #888;
    border: 1px dashed #888;
}

#tray {
    bottom: 15px;
    left: 0px;
    height: 317px;
    width: 300px;
    background-color: #999;
}

#bottom {
    height: 15px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    background-color: #000;
    color: #ddd;
    font-size: 10px;
}

#object {
    bottom: 255px;
    background-color: #d72;
    height: 50px;
    left: 50px;
    width: 200px;
}

#shim {
    bottom: 15px;
    background-color: #060;
    width: 200px;
    left: 50px;
    color: #ddd;

    visibility: hidden;
}

#inputfields {
    flex: 1;
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 6px 8px;
    border: 1px solid #ddd;
    background-color: #eee;
    font-family: sans-serif;
    font-size: 12pt;
}

#inputfields p {
    margin: 0 0 2em 0;
}

#inputfields div {
    margin: 12px 0;
    font-size: 12pt;
}

#inputfields label {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-size: 12pt;
    width: 150px;
}

#inputfields input {
    font-size: 18pt;
}

#shimstatement {
    height: 2em;
    padding-left: 70px;
    font-style: italic;
    font-size: 0.8em;
}

#gfsize {
    background-color: #eee;
    border: 1px solid #aaa;
}

#inputfields input + span {
    padding-right: 40px;
}

#inputfields input:invalid + span:after {
    content: '\2715';
    padding-left: 15px;
}

#inputfields input:valid + span:after {
    content: '\2713';
    padding-left: 15px;
}

#inputfields span.validity {
    color: red;
}
