
#loadfile {
    border: 1px solid #aaa;
    width: 400px;
    margin: 20px auto;
    padding: 6px 12px;
    font-family: sans-serif;
}

#loadfile h1 {
    border-bottom: 1px solid #aaa;
    margin: 0 -12px;
    padding: 0 8px;
    font-size: 16pt;
    font-family: sans-serif;
}

#file {
    margin: 6px 12px;
}

#layercolor {
    margin-left: 40px;
}

#dropzone {
    border: 3px dashed #ccc;
    width: 300px;
    height: 150px;
    line-height: 150px;
    margin: 10px auto;
    color: #ccc;
    font-size: 24pt;
    text-align: center;
}

#information {
    border: 1px solid #ccc;
    width: 400px;
    height: 300px;
    overflow: auto;
    margin: 20px auto;
    padding: 6px 12px;

    font-family: sans-serif;
}
